@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.favicon {
    border-radius: 5em;
}
// #007AF3
body {
    background: #F2F2F2;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins";
}

.navbar {
    background: white;
    padding: 1em;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 50px;
    // margin-top: -65px;
    z-index: 500;
    position: relative;
    text-decoration: none;
}

    // .homebutton {
    //     text-decoration: none;
    //     color: black;
    //     font-size: 1.2em;
    //     font-weight: bold;
    // }



// nav {
//   display: inline;
//   align-items: center;
// //   justify-content: space-between;
//   height: 100px;
// }

li {
    display: inline;
    text-decoration: none;
  }
  
a {
    color: grey;
    display: inline;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 1em;
    // background-color: #dddddd;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }


.hero {
    text-align: center;
}

h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-shadow: 2px 2px rgb(177, 172, 172);
}

span {
    display: block;
  }

.description {
    margin-left: 2em;
    margin-right: 2em;
}

.twitterlogo {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    border-radius: 5em;
    border-width: 1em;
    // display: inline;
}


label {
    // display:block;
    font-size: 1.2em;
    margin-bottom:.5em;
}

.formz {
    text-align: center;
}

textarea {
    margin-left: auto;
    margin-right: auto;    
    display: block;
    width: 70%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .5em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    display: inline;
    background-color: #1DA1F2;
    color: white;
    // font-weight: bold;
    font-size: 1.2em;
    border:none;
    margin-bottom: 1em;
    border-radius: 0.5em;
    display: inline-block;
    padding: .4em .8em;
    width: unset;
    cursor: pointer;
    box-shadow: 1px 1.5px grey;
    
    // text-align: center;
    // margin-left:auto;
    // margin-right:auto;
    
    &:hover{
    background-color: black;
    }
}

.rez {
    display: inline
}
.result {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0;
}

.superspreader {
    margin:auto;
    margin-top: 0;
    text-align: center;
    font-size: 1em;
}

.inputcontent {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    font-size: 1em;
    padding: 10px;
    // border: 5px solid gray;
    border-radius: 10em;
    width: 70%;
}


.embed {
    display: block;
    margin:0 auto;
    width: 600px;
}

.feedback {
    margin:auto;
    margin-bottom: 2em;
    margin-top: 2em;
    width:40%;
    text-align: center;
    padding: 0.1em;
    border-style: solid;
    border-radius: 1em;
    border-color: grey;
    border-width: 0.1em;
    
    .fbtrue{
        background-color: #70AE98;
    }
    .fbfake{
        background-color: #E58B88;
    }
    .fbidk{
        background-color: #9799BA;
    }
}